.bc1{background-color:#38a3f5;}
.bc2{background-color: #FFFFFF;}
.bc3{background-color: #f4f4f4;}
.bc4{background-color: #f3faff;}
.bc9 {
    background-color: #faf9f7;
}

.c1{color: #ffffff;}
.c2{color: #666666;}
.c3{color: #333333;}
.c4{color: #38A3F5;}
.c5{color: #ff0000;}
.c21{color:#669ddd;}
.c22{color:#e61616;}
.c25{color: #666;}
